body{
    background-color: aliceblue;
}
.layout{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: aliceblue;
}
.img1{
    height: 200px;
    width: 100%;
}
h1{
    text-align: center;
    color: red;
    background-color: aliceblue;
}
h3{
    text-align: center;
    color: darkblue;
}
.p1{
    text-align: center;
    color: darkorchid;
}
.div1{
    border: 2px solid beige;
    margin: 30px;
    background-color: rgb(231, 231, 231);
}
.div2{
    display: flex;
    border: 2px solid black;
    padding: 1%;
    background-color: aliceblue;
}
.p2{
    font-size: 30px;
    text-align: justify;
    margin: 15px;
    color: darkolivegreen;

}
.ima{
    border-radius: 50%;
    height: 500px;
    padding-top: 3%;
}
.div3{
    text-align: center;
    padding: 5%;
    background-color: #16a085 ;
}
button{
    background-color: orange;
}